.root {
	width: 150px;
	height: 50px;

}

.option {

}

.label {
	padding: 2px;
	border-bottom: 1px solid #797878;
}

.dropdown {
	position: relative;
	margin-top: 2px;
	border: 1px dashed #f60a0a;
}
